// FONTS
$f-serif: 'Abril Fatface', 'Times New Roman', serif;
$f-sans-serif: 'Source Sans Pro', 'Helvetica Neue', sans-serif;

$f-light: 300;
$f-semi-bold: 600;
$f-bold: 700;

// COLORS
$c-primary: #0a0c4d;
$c-secondary: #1dacc2;
$c-secondary-light: #9adae4;
$c-background: #f8f8f8;
$c-background-card: #f8f9f8;
$c-gray: #aec4c7;
