// FONTS
$f-serif: 'Abril Fatface', 'Times New Roman', serif;
$f-sans-serif: 'Source Sans Pro', 'Helvetica Neue', sans-serif;

$f-light: 300;
$f-semi-bold: 600;
$f-bold: 700;

// COLORS
$c-primary: #0A0C4D;
$c-secondary: #1DACC2;
$c-gray: #AEC4C7;
$c-background: #F8F8F8;
$c-background-card: #FCFDFD;