.app {
    max-width: 78rem;
    min-width: 32rem;
    padding: 0 2rem;
    margin: 0 auto;
    font-family: $f-sans-serif;
    color: $c-primary;
    @include flexbox;
    @include flex-direction(column);

}