.header {
    height: 7rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $c-background;
    z-index: 999;

    h1 a {
        font-family: $f-serif;
        color: $c-primary;
        font-size: 2.2rem;
        line-height: 2.2rem;
    }

    &--container {
        max-width: 78rem;
        min-width: 32rem;
        height: 100%;
        @include flexbox;
        @include justify-content(space-between);
        @include align-items(center);
        margin: 0 auto;
        padding: 0 2rem;
    }
}