* {
    text-align: center;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background: #457fca;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #5691c8, #457fca);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #5691c8, #457fca); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.title h1 {
    font-size: 40px;
    color: white;
    font-weight: 400;
}

.links {
    display: flex;
    justify-content: center;
}

.links a {
    font-size: 18px;
    font-weight: 100;
    margin: 0 10px;
    color: white;
}

.links a:hover {
    color: #3F638D;
}