.skills {
    height: 70rem;
    width: 100%;
    padding: 5rem 0 2rem 0;
    position: relative;
    overflow: hidden;

    &--container {
        height: 100%;
        max-width: 78rem;
        min-width: 32rem;
        padding: 0 2rem;
        margin: 0 auto;
        @include flexbox();
        @include flex-direction(column);
        @include align-items(center);
    }

    // &:before {
    //     content: url('../../assets/images/work-background-bottom.svg');
    //     width: 100%;
    //     top: 0rem;
    //     left: 50%;
    //     margin-left: -192rem;
    //     position: absolute;
    //     height: 60Rem;
    //     z-index: -1;
    // }
}